<launch>

  <node name="hexa_6dof_dynamics" pkg="uav_control" type="hexa_6dof_dynamics" />
  <node name="gazebo_broadcaster" pkg="uav_control" type="gazebo_broadcaster" />
  <node name="pid_control_6dof" pkg="uav_control" type="pid_control_6dof" />
  <node name="helicoidal" pkg="uav_control" type="helicoidal" />

  <include file="$(find hexa_urdf)/launch/gazebo.launch" />

</launch>