<?xml version="1.0"?>

<model>
    <name>carga_util</name>
    <version>1.0</version>
    <sdf version='1.5'>model.sdf</sdf>

    <author>
        <name>Adán Márquez</name>
        <email>adanmarquez200@outlook.com</email>
    </author>

    <description>
        carga util para hexaflat en PX4-SITL
    </description>
</model>
