<?xml version="1.0"?>
<model>
  <name>hexaflat</name>
  <version>1.0</version>
  <sdf version='1.6'>hexaflat.sdf</sdf>

  <author>
   <name>Adan Daniel Marquez Hernandez</name>
   <email>adanmarquez200@outloo.com</email>
  </author>

  <description>
    This is a model for an Hexacopter.
  </description>
</model>
